meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(http-equiv="Cache-Control" content="no-store")
meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no user-scalable=no')
meta(name='description', content='AON TV')
meta(name='author', content='AON')
meta(name='keyword', content='AON')
title AON TV

link(href='/scripts/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
link(href='/css/style.css', rel='stylesheet')

